/** {
	overflow: auto;
	overflow-style: scrollbar;
}*/

/*html { 
		overflow-y: auto;
		
}*/

#outerbody { 
		height: 790px;
		width: 930px;
		background: #87bcea; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  #d0e4f7 0%, #73b1e7 72%, #539fe1 96%, #87bcea 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#d0e4f7), color-stop(72%,#73b1e7), color-stop(96%,#539fe1), color-stop(100%,#87bcea)); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  #d0e4f7 0%,#73b1e7 72%,#539fe1 96%,#87bcea 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  #d0e4f7 0%,#73b1e7 72%,#539fe1 96%,#87bcea 100%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  #d0e4f7 0%,#73b1e7 72%,#539fe1 96%,#87bcea 100%); /* IE10+ */
		background: radial-gradient(ellipse at center,  #d0e4f7 0%,#73b1e7 72%,#539fe1 96%,#87bcea 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		position: absolute;
		border-radius: 100px;
		margin-top: 30px;
		margin-bottom: 20px;
		margin-left: 20px;
		-webkit-box-shadow: -1px -1px 10px black;
		-moz-box-shadow: -1px -1px 10px black;
		box-shadow: -1px -1px 10px black;
		
}

.ul {
list-style-type:none;
margin:0;
padding:15px;
color: white;
background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}

.li {
display:inline;
font:  normal 26px Verdana, Arial, Helvetica, sans-serif;
text-shadow: 0px 0px 10px black;
margin: 50px;
}

a {
			color: white;
			text-decoration:none;
			
}
a:hover {
		background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 77%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(77%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 77%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 77%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 77%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 77%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
color: #d0e4f7;
background-repeat:no-repeat;	
text-decoration:none;
}

a:active {

background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(59,59,59,0) 77%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(77%,rgba(59,59,59,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(59,59,59,0) 77%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(59,59,59,0) 77%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(59,59,59,0) 77%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(59,59,59,0) 77%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */


}
/* inner body id's start*/
#innerbody {
		height: auto;
		width: 660px;
		position: absolute;
		margin: 100px;
		margin-left: 130px;
		margin-top: 150px;
		border: 1px solid black;
		padding: 5px;
		-webkit-box-shadow: -1px -1px 10px black;
		-moz-box-shadow: -1px -1px 10px black;
		box-shadow: -1px -1px 10px black;
		color: white;
		font: bold normal 15px/15px Verdana, Arial, Helvetica, sans-serif;
		animation: colorchange2 15s;
		-moz-animation: colorchange2 15s; /* Firefox */
		-webkit-animation: colorchange2 15s; /* Safari and Chrome */
		-o-animation: colorchange2 15s; /* Opera */
		animation-iteration-count: infinite;
		-moz-animation-iteration-count: infinite;
		-webkit-animation-iteration-count: infinite;
		-o-animation-iteration-count: infinite;
		animation-direction: alternate;
		-moz-animation-direction: alternate;
		-webkit-animation-direction: alternate;
		-o-animation-direction: alternate;
		animation-timing-function: linear;
		-moz-animation-timing-function: linear;
		-webkit-animation-timing-function: linear;
		-o-animation-timing-function: linear;
}

@keyframes colorchange2 {
 
 0% {background: transparent;}
 100% {background: #3f4c6b;}
 
 } 
 
@-moz-keyframes colorchange2 {
 
0% {background: transparent;}
 100% {background: #3f4c6b;}
 } 
 
@-webkit-keyframes colorchange2 {
 
 0% {background: transparent;}
 100% {background: #3f4c6b;}
 } 
 
@-o-keyframes colorchange2 {
 
 0% {background: transparent;}
 100% {background: #3f4c6b;}
 } 
 


#heading {
		width: 670px;
		height: 60px;
		background-color: #9fb5zz;
		margin-left: 130px;
		margin-top: 35px;
		border: 3px inset #d0e4f7;
		position: absolute;
		clear: both;
}

#time { 
	float: left;
}

#score { 
	float: right;
} 

/* inner body id's end */
ul {
		padding: 50px, 10px;
		margin-left: -10px;
		margin-top: -10px;
		clear: both;
}

li {
		padding: 5px;
		margin: 10px;
		list-style-type: none;
		font-size: 20px;
		
}

h2 {
		
		margin: 10px;
		padding-left: 170px;
		clear: both;
}

.submitButton {
			margin-left: 325px;
			position: relative;
}

.hidden {
		display:none;
}

p > input[type=text]{
    background: black;
	border-radius: 15%;
	height: 30px;
	width: wrap;
	border-bottom-color: black;
	box-shadow:0px 0px 3px #1E90FF;
	border: none;
	font-size: 15px;
	
	
}

td > input[type=text]{
	border-radius: 15%;
	height: auto;
	width: 30px;
	font-size: 15px;
	background: -moz-linear-gradient(top,  rgba(63,76,107,1) 5%, rgba(63,76,107,0.84) 42%, rgba(63,76,107,0.78) 55%, rgba(63,76,107,0.65) 86%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,rgba(63,76,107,1)), color-stop(42%,rgba(63,76,107,0.84)), color-stop(55%,rgba(63,76,107,0.78)), color-stop(86%,rgba(63,76,107,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(63,76,107,1) 5%,rgba(63,76,107,0.84) 42%,rgba(63,76,107,0.78) 55%,rgba(63,76,107,0.65) 86%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(63,76,107,1) 5%,rgba(63,76,107,0.84) 42%,rgba(63,76,107,0.78) 55%,rgba(63,76,107,0.65) 86%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(63,76,107,1) 5%,rgba(63,76,107,0.84) 42%,rgba(63,76,107,0.78) 55%,rgba(63,76,107,0.65) 86%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(63,76,107,1) 5%,rgba(63,76,107,0.84) 42%,rgba(63,76,107,0.78) 55%,rgba(63,76,107,0.65) 86%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#a63f4c6b',GradientType=0 ); /* IE6-9 */
	color: white;
	font: bold normal 15px/15px Verdana, Arial, Helvetica, sans-serif;
	
}


li > input[type=button] {
		width: auto;
		height: auto;
		font-family: "Georgia", serif;
		font-size: 18px;
		outline: none;
		border: none;
		color: white;
		background: none;
		opacity: 1;
   		transition: opacity, background .25s ease-in-out;
   		-moz-transition: opacity, background.25s ease-in-out;
   		-webkit-transition: opacity, background .25s ease-in-out;
		
		
}

li > input[type=button]:hover {
			opacity: 0.75;
			background: white;
			color: black;
}

li > input[type=button]:active{
		background: green;
}

/*button {
		height:25px;
}*/

button.btn {
      margin:0 -3px;
      
      }
      
.btn span {
      background: white;
      margin:0;
      padding:3px 0;
      border-left:1px solid #bbb;
      border-right:1px solid #aaa;
      transition: background .05s ease-in;
   		-moz-transition: background .05s ease-in;
   		-webkit-transition: background .05s ease-in;
      }

.btn span:hover {
	background: #C1CDCD;
}  

.btn span:active { 

background: none;
color: white;
border-left: none;
border-right: none;

}

.btn span span {
      position:relative;
      padding:3px .4em;
      border-width:0;
      
      }
    
.btn {
      display:inline-block;
      background: none;
      margin:0;
      padding:3px 0;
      border-width:0;
      overflow:visible;
      font:normal 15px/15px Verdana, Arial, Helvetica, sans-serif;;
      text-decoration:none;
      color:#333;
      
      }
      

/*button.pilla span {
      border-right-width:0;
      }
button.pilla span span {
      border-right:1px solid #bbb;
      }
      
button.pillb span {
      border-right-style:none;
      border-left-color:#fff;
      }
button.pillb span span {
      border-right:1px solid #bbb;
      }

 button.pillc span {
      border-left-color:#fff;
      }
*/

#a {
	display: none;
}
#b {
	display: none;
}
#c {
	display: none;
}
#d {
	display: none;
}
.textarea {	
	box-shadow: 0px 0px 13px white;
	outline: none;
	font-size: 14px;
	width: auto;
	height: auto;
	border-radius: 3%;
	color: white;
	font: bold normal 15px/15px Verdana, Arial, Helvetica, sans-serif;
	padding: 10px;
	margin-left: 20px;
	border-style: groove;
	font: center; 
	animation: colorchange 7s;
	-moz-animation: colorchange 7s; /* Firefox */
	-webkit-animation: colorchange 7s; /* Safari and Chrome */
	-o-animation: colorchange 7s; /* Opera */
	animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-direction: alternate;
	-moz-animation-direction: alternate;
	-webkit-animation-direction: alternate;
	-o-animation-direction: alternate;
	animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	-o-animation-timing-function: linear;
	}
	
 .textarea2 {	
	box-shadow: 0px 0px 13px white;
	outline: none;
	font-size: 14px;
	width: 460px;
	height: 55px;
	border-radius: 3%;
	color: white;
	font: bold normal 15px/15px Verdana, Arial, Helvetica, sans-serif;
	padding: 10px;
	margin-left: -60px;
	border-style: groove;
	font: center; 
	animation: colorchange 7s;
	-moz-animation: colorchange 7s; /* Firefox */
	-webkit-animation: colorchange 7s; /* Safari and Chrome */
	-o-animation: colorchange 7s; /* Opera */
	animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-direction: alternate;
	-moz-animation-direction: alternate;
	-webkit-animation-direction: alternate;
	-o-animation-direction: alternate;
	animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	-o-animation-timing-function: linear;
	}
	
@keyframes colorchange {
 
 0% {background: #3f4c6b;}
 100% {background: #87bcea;}
 } 
 
@-moz-keyframes colorchange {
 
 0% {background: #3f4c6b;}
 100% {background: #87bcea;}
 } 
 
@-webkit-keyframes colorchange {
 
 0% {background: #3f4c6b;}
 100% {background: #87bcea;}
 } 
 
@-o-keyframes colorchange {
 
 0% {background: #3f4c6b;}
 100% {background: #87bcea;}
 } 
 
#yourChoice{
				
				border: none;
				outline: none;
}

iframe { 
			position: relative;
			float: right;
			display: inline;
			
}

object { 
			position: relative;
			float: right;
			display: inline;
			
}

.crop {		
			margin-top: -70px;
			margin-right: -50px;
			overflow: hidden;
			/*border: 3px inset #d0e4f7;*/
			-webkit-box-shadow: 0px -1px 10px black;
		-moz-box-shadow: 0px -1px 10px black;
		box-shadow: 0px -1px 10px black;
}

#begin { 
			height: 100px;
			width:100px;
			-webkit-box-shadow: 0px -1px 10px black;
			-moz-box-shadow: 0px -1px 10px black;
			box-shadow: 0px -1px 10px black;
			background-color: #87bcea;
}